<div class="slider">
  <div class="arrow left" (click)="goToPrev()" (keydown)="goToPrev()" tabindex="0">&langle;</div>
  <div class="arrow right" (click)="goToNext()" (keydown)="goToNext()" tabindex="0">&rangle;</div>
  <div class="slides-overflow">
    <div class="slides-container" [ngStyle]="calcContainerStyles()">
      @for (image of images(); track $index) {
        <div class="slide" [ngStyle]="calcImageStyle(image)"></div>
      }
    </div>
  </div>
  <button
    class="autoplay-toggle"
    [ngClass]="{'paused': !autoplay()}"
    (click)="toggleAutoplay()"
    [attr.aria-label]="autoplay() ? 'Pause autoplay' : 'Resume autoplay'">
    <i class="fa" [ngClass]="autoplay() ? 'fa-pause' : 'fa-play'"></i>
  </button>
  <div class="dots-container">
    @for (_ of images(); track $index) {
      <div
        class="dot"
        [ngClass]="{'active': $index === currentIndex()}"
        (click)="goToImage($index)"
        (keydown)="goToImage($index)"
        tabindex="0"
      >
        ●
      </div>
    }
  </div>
</div>
