<li class="list-group-item list-group-item-action" [ngClass]="{'active': editMode()}">
  @let todo = todoInput();
  @if (editMode()) {
    <input
      #editInput
      type="text"
      class="form-control"
      [value]="textComputed()"
      (keyup.esc)="textComputed.set(todo.content)"
      (keyup)="changeText($event)"
      (keyup.enter)="saveEdit()"
      (focusout)="setEditId.emit(null)">
  } @else {
    <div class="d-flex gap-2 align-items-center ">
      <input
        type="checkbox"
        name="item-checkbox"
        class="form-check-input rounded-circle p-2"
        [checked]="todo.isCompleted"
        (change)="toggleCompleted()"
        [id]="todo.id"
      />
      <label [for]="todo.id" class="p-2 w-100 fs-5" (dblclick)="setEditId.emit(todo.id)" [ngClass]="{'text-decoration-line-through': todo.isCompleted}">
        {{ todo.content }}
        @if (textComputed() !== todo.content) {
          <span class="badge badge-warning border-warning border text-secondary text-uppercase">unsaved changes</span>
        }
      </label>
      <button class="btn btn-outline-light text-dark" (click)="remove()">X</button>
    </div>
  }
</li>
