<form (ngSubmit)="onSubmit()" [formGroup]="form" class="form-group mx-auto">
  <h1>Sign up</h1>
  <input autocomplete="off" class="form-control mb-3" formControlName="username" name="username" placeholder="Username"
         type="text">
  <input autocomplete="off" class="form-control mb-3" formControlName="email" name="email" placeholder="Email"
         type="email">
  <input autocomplete="off" class="form-control mb-3" formControlName="password" name="password" placeholder="Password"
         type="password">
  <button [disabled]="!form.valid" class="btn btn-primary" type="submit">Register</button>
</form>
