<aside [ngClass]="{'sidenav-collapsed': isSidebarCollapsed()}" class="sidenav">
  <div class="logo-container">
    <button (click)="toggleSidebar()" class="logo">
      <i class="fa fa-bars"></i>
    </button>
    @if (!isSidebarCollapsed()) {
      <div class="logo-text">App-Showcase</div>
      <button (click)="toggleSidebar()" class="btn-close">
        <i class="fa fa-times close-icon"></i>
      </button>
    }
  </div>
  <ul class="sidenav-nav">
    @for (item of menuItems; track $index) {
      <li class="sidenav-nav-item">
        <a [routerLinkActiveOptions]="{exact: true}" [routerLink]="item.link" class="sidenav-nav-link"
           routerLinkActive="active">
          <i class="sidenav-link-icon fa {{ item.icon }}"></i>
          @if (!isSidebarCollapsed()) {
            <span class="sidenav-link-text">{{ item.label }}</span>
          }
        </a>
      </li>
    }
    <li class="border border-dark-subtle mb-3 sidenav-nav-item">
    </li>
    @if (authService.currentUserSignal() === null) {
      @for (item of authMenuItems; track $index) {
        <li class="sidenav-nav-item">
          <a [routerLinkActiveOptions]="{exact: true}" [routerLink]="item.link" class="sidenav-nav-link"
             routerLinkActive="active">
            <i class="sidenav-link-icon fa {{ item.icon }}"></i>
            @if (!isSidebarCollapsed()) {
              <span class="sidenav-link-text">{{ item.label }}</span>
            }
          </a>
        </li>
      }
    } @else {
      @if (!isSidebarCollapsed()) {
        <li class="sidenav-nav-item">
          <span class="p-2 text-white h5">
            <i class="sidenav-link-icon fa fa-user"></i>
            <span class=" fw-bold ps-3">{{ currentUserSignal()?.username ?? 'unknown user' }}</span>
          </span>
        </li>
      }
      <li class="sidenav-nav-item">
        <a (click)="logout()" (keyup.enter)="logout()" tabindex="0" class="sidenav-nav-link">
          <i class="sidenav-link-icon fa fa-sign-out"></i>
          @if (!isSidebarCollapsed()) {
            <span class="sidenav-link-text">Logout</span>
          }
        </a>
    }
  </ul>
</aside>
