<div class="calendar-container">
  <div class="calendar">
    <div class="calendar-header">
      <div>
        <button class="btn fs-2" (click)="startOfMonth.set(startOfMonth().minus({ years: 1 }))" title="Previous Year">
          &laquo;
        </button>
        <button class="btn fs-2" (click)="startOfMonth.set(startOfMonth().minus({ months: 1 }))" title="Previous Month">&lt;
        </button>
      </div>
      <h3>{{ startOfMonth().toFormat('MMMM yyyy') }}</h3>
      <div>
        <button class="btn fs-2" (click)="startOfMonth.set(startOfMonth().plus({ months: 1 }))" title="Next Month">&gt;
        </button>
        <button class="btn fs-2" (click)="startOfMonth.set(startOfMonth().plus({ years: 1 }))" title="Next Year">
          &raquo;
        </button>
      </div>
    </div>

    <div class="calendar-grid">
      <div class="weekday-headers">
        @for (day of weekDays(); track $index) {
          <div class="weekday-header">{{ day }}</div>
        }
      </div>

      <div class="days-grid">
        @for (day of daysInMonth(); track $index) {
          <div class="day-cell"
               [class.today]="day.hasSame(today(), 'day')"
               [class.other-month]="!day.hasSame(startOfMonth(), 'month')"
               [class.active]="activeDay() && day.hasSame(activeDay()!, 'day')"
               (click)="activeDay.set(day)">
            <span class="day-number">{{ day.day }}</span>
          </div>
        }
      </div>
    </div>
  </div>

  <div class="activities-container">
    @if (activeDay()) {
      <h3>Activities for {{ activeDay()!.toLocaleString(DATE_MED) }}</h3>

      @let activitiesForDay = activities()[activeDay()!.toFormat('yyyy-MM-dd')];
      @if (!activitiesForDay) {
        <div class="activities-none">No activities for {{ activeDay()!.toLocaleString(DATE_MED) }}</div>
      } @else {
        <div class="activities-section">
          <ul>
            @for (activity of activities()[activeDay()!.toFormat('yyyy-MM-dd')]; track $index) {
              <li>{{ activity }}</li>
            }
          </ul>
        </div>
      }
    } @else {
      <div class="activities-none">Select a day to view activities</div>
    }
  </div>
</div>
