<section [ngClass]="{'d-none': this.visibleTodosSignal().length === 0}" class="card-body position-relative">
  <input
    (change)="toggleAll($event)"
    [checked]="allTodosCompletedSignal()"
    class="form-check-input d-none"
    id="toggle-all"
    type="checkbox">
  <label
    [ngClass]="{'bg-primary': allTodosCompletedSignal()}"
    [title]="`${allTodosCompletedSignal() ? 'Mark all as incomplete' : 'Mark all as complete'}`"
    class="p-2 btn btn-outline-primary position-absolute top-0 form-check-input rounded-circle"
    for="toggle-all"
    style="margin-top: -2.5rem;"
  >&nbsp;</label>
  <ul class="list-group">
    @for (item of visibleTodosSignal(); track item.id) {
      <app-todo
        (setEditId)="editIdSignal.set($event)"
        [editMode]="item.id === editIdSignal()"
        [todoInput]="item"
      />
    }
  </ul>
</section>
